
  .parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
  }
  .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0) translateY(-700px);
    z-index: 5;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px) scale(2);	
  }

  .parallax {
   /* font-size: 00%;*/
  }

   /* add some padding to force scrollbars */
  .parallax__layer {
    padding: 100vh 0;
  }
.back-content{
	/*width:50px;
	height:50px;
	background:red;*/
	width: 100%;
    height: 800px;
    padding: 0;
    
    color: #fff;
    background: url(https://raw.githubusercontent.com/alejandro-londono/HANDRO/gh-pages/img/IMG_2327_faded.jpg) no-repeat bottom center scroll;
    background-size: cover;
}
   /* centre the content in the parallax layers */
.intro{
	background:black;
    /*width: 100%;
    height: 800px;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(https://raw.githubusercontent.com/alejandro-londono/HANDRO/gh-pages/img/IMG_2327_faded.jpg) no-repeat bottom center scroll;
    background-size: cover;*/
}
.nav-link{
	margin-left: 20px;
	list-style: none;
	font-size: 32px;
	font-family: six-caps, sans-serif;;
	opacity:1;
	color: white;
}
button {
  background-color: rgba(240, 248, 255, 0);
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid white;
}
button:hover{
	boder:none;
	background-color: white;
}
.navbar{
  margin:0 100px;
}
nav{
	float:right;
	margin-right:200px;
}
.nav-link a{
	color: white;
	margin-left: 20px
	font-size: 50px;
	}
.main-logo{
	/*opacity:.5;*/
}
h1.main-logo{
	font-family: six-caps, sans-serif;
	font-size: 172px;
  text-align:center;
}
.navbar-default .navbar-brand {
color: #FFF;

}

.navbar-default .navbar-nav>li>a {
color: #FFF;
}
.illustration-container, .Photo-container, .web-container, .about-container{
	background-color: black;
	width:100%;
}
h1,h2,h3,h4,h5,h6{
	font-family: six-caps, sans-serif;
	color: white;
}
h2{
	font-size:48px;
}
.thumb{
	padding:0;
}

h2,h3,h4,h5,h6{
	color: #D2D7D3;
}
p{
	font-family: 'open-sans', sans-serif;
	color:white;
	size:24px;
}
#about{
	padding: 0 100px;
}
.about-paragraph{
	width:600px;
	height:auto;
}
#overlay{
  background:rgba(0,0,0,0.7);
  width:100%;
  height:535%;
  position:absolute;
  top:0;			
  left:0;
  text-align:center;
}
#overlay img{
margin-top:10%;
}
.contact{
  float:right;
  margin-right: 100px;
}
.opaque{
  opacity:.4;
}